"*":
  core:
    projectHome: "/Users/fred/Projects"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    showIndentGuide: true
    scrollPastEnd: true
  "exception-reporting":
    userId: "d39657eb-4fef-4bd0-bc5b-89ff4f1365e6"
  welcome:
    showOnStartup: false
