/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

/* -------------------- */
// This block is courtesy of @MattMcFarland
// https://medium.com/@docodemore/an-alternative-to-operator-mono-font-6e5d040e1c7e

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}

@fontsize: 16px;

atom-text-editor {
  font-family: 'Fira Code';
  font-style: normal;
  text-rendering: optimizeLegibility;
}
atom-text-editor.editor {
  .syntax--string.syntax--quoted,
  .syntax--string.syntax--regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }
  .syntax--source.syntax--js.syntax--jsx > .syntax--keyword.syntax--syntax--control.syntax--flow.syntax--js,
  .syntax--storage, .syntax--type .syntax--function {
    vertical-align: baseline;
    font-family: 'Script12 BT';
    height: inherit;
    font-size: 1.5em;
    line-height: 1rem;
  }
  .syntax--source.syntax--js.syntax--jsx,
  .syntax--storage.syntax--type.syntax--function.syntax--arrow.syntax--js,
  .syntax--variable {
    font-family: 'Fira Code';
    font-style: normal;
  }
  .syntax--string.syntax--unquoted.syntax--js {
    color: #CDD3DE;
  }
  .syntax--entity.syntax--name {
    font-weight: bold;
  }
}
/* -------------------- */

/* -------------------- */
// This block is courtesy of @jasonrudolph
// https://github.com/jasonrudolph/dotfiles/blob/master/atom/styles.less

// Zen coding, courtesy of @as-cii 🧘‍♂️💻
//
// Focus on your content and avoid visual noise. When you're viewing/editing a
// file, reduce the opacity of other Atom components, including the docks, the
// status bar, and inactive tabs. When you focus any of those components or
// hover over them, restore their full opacity.
atom-dock, status-bar, .tab-bar .tab {
  opacity: 0.3;
  transition: 0.2s;
  &:hover, &:focus-within {
    opacity: 1.0;
  }
}
.tab-bar .tab.active {
  opacity: 1;
}

// De-emphasize inactive panes, in order to make it easy to quickly see which
// pane is active.
//
// Credit: http://discuss.atom.io/t/how-to-know-which-pane-is-focused/10577/2
atom-pane:not(.active) {
  opacity: 0.75;
}

.results-view {
  font-size: 13px;
}

.search-result .highlight-info {
  color: #000;
  background-color: yellow;
}
/* -------------------- */
